{% extends '/layout.html' %}
{% block body %}
  <div class="content">
    <ul>
      <li><img src="/static/images/BHAV4487.jpg"/></li>
      <li><img src="/static/images/BHAV4487.jpg"/></li>
      <li><img src="/static/images/BHAV4487.jpg"/></li>
      <li><img src="/static/images/BHAV4487.jpg"/></li>
      <li><img src="/static/images/BHAV4487.jpg"/></li>
      <li><img src="/static/images/BHAV4487.jpg"/></li>
      <li><img src="/static/images/BHAV4487.jpg"/></li>
      <li><img src="/static/images/BHAV4487.jpg"/></li>
    </ul>
  </div>
{% endblock %}
